.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px; 
   

}





.userProf {
    border-radius: 50%;
    object-fit: cover;
}


.profInfo .name {
    font-size: 32px;
    margin-top: 0;
}
.profInfo .location {
    font-size: 18px;
}

.delete {
    display: flex;
    justify-content: center;
    align-items: center; 
    align-self: flex-start;
    background-color: #E99060;
    padding: 10px;
    width: 100px;
    border: none;
    border-radius: 30px;
    margin: auto;
    margin-top: 100px;

}

.back {
   display: flex;
   align-self: flex-start;
   text-decoration: none;
   margin: 40px;
}